:root {
    --red: hsl(0, 80%, 70%);
    --blue: hsl(220, 80%, 53%);
    --blue-shadow: hsl(220, 63%, 42%);
    --white: #fff;
    --text-gray: #696969;
    --text-black: #333333;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    color: var(--text-black);
}

body {
    font-size: 1.6rem;
    
}

.flex_wrapper {

    background-image: linear-gradient(125deg, var(--blue) 0%, var(--text-black) 150%);

    position: relative;
    height: 100vh;    

    display: flex;

    justify-content: center;
    align-items: flex-end;
}

main {
    background-color: var(--white);
    width: 600px;
    height: 400px;
    
    /* Centering X and Y axis of main */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 2rem;
    border-radius: 20px 20px 150px 20px;
    box-shadow: 0.3em 0.3em 0.3em #333333;
}

section.input {
    display: flex;

}

div.date_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 30%;

}

section.input input {
    width: 80%;
    
    border: 1px solid #ddd;
    border-radius: 4px;

    padding: 0.5rem 0.8rem;
    font-size: 1.6rem;
    font-weight: 600;

}

label {
    color: var(--text-gray);
    font-weight: 600;
    letter-spacing: 3px;
}

hr {
    width: 85%;
    margin: 1.5rem 0;
}

.input_divider {
    display: flex;
    align-items: center;
}

.input_divider button {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 100%;

    background-color: var(--blue);
    transition: 0.2s;
}

.input_divider button:hover, i:hover {
    background-color: var(--blue-shadow);
}

p {
    color: var(--text-black);
    font-size: 4rem;
    font-weight: 800;
}

p span {
    color: var(--blue);
}

p.warning {
    color: var(--red);
    font-size: 0.8rem;
    font-weight: 400;
}

footer {
    text-align: center;
    padding-bottom: 1rem;

    font-size: 0.8rem;
}

footer a {
    color: var(--white);
}

@media (max-width: 600px) {
    
    .flex_wrapper {
        overflow: hidden;
    }

    main {
        height: 50vh;
        width: 95vw;
    }

    @media (max-height: 800px) {
        main {
            height: 55vh;

        }
    }

    section.input {
        justify-content: space-around;
    
    }

    section.input input {
        padding-left: 0.3em;
        width: 100%;

        font-size: 1.5rem;
    }

    label {
        font-size: 0.8rem;
        letter-spacing: 2px;
    }

    p {
        font-size: 3.2rem;
    }
}